.ipynb_checkpoints
.DS_Store
unityvr/sample/*
!unityvr/sample/Log_2021-05-19_18-25-15_SS96_x_7f_f07_EB_panA2_t01.json
*.pyc
unityvr/__pycache__/*
unityvr/preproc/__pycache__/*
__pycache__/*.pyc
unityvr/__pycache__/*.pyc
unityvr/preproc/__pycache__/*.pyc
unityvr/__pycache__/__init__.cpython-38.pyc
unityvr/preproc/__pycache__/logproc.cpython-38.pyc
