.ipynb_checkpoints
.DS_Store
sample/*
!sample/sampleLog.json
*.pyc
unityvr/__pycache__/*
unityvr/preproc/__pycache__/*
__pycache__/*
unityvr/__pycache__/__init__.cpython-38.pyc
unityvr/preproc/__pycache__/logproc.cpython-38.pyc
